[submodule "bdl-frontend"]
	path = bdl-frontend
	url = https://github.com/junyoungBae1/BLD-frontend
[submodule "bdl-backend"]
	path = bdl-backend
	url = https://github.com/junyoungBae1/BDL-backend.git
[submodule "bdl-backend-fast-api"]
	path = bdl-backend-fast-api
	url = https://lab.ssafy.com/rich-beggar/bdl-backend-fast-api.git
